:root {
    --cs-blue: #0d6efd;
    --cs-indigo: #6610f2;
    --cs-purple: #6f42c1;
    --cs-pink: #d63384;
    --cs-red: #dc3545;
    --cs-orange: #fd7e14;
    --cs-yellow: #ffc107;
    --cs-yellow-green: #c3dd5c;
    --cs-green: #198754;
    --cs-teal: #20c997;
    --cs-cyan: #0dcaf0;
    --cs-black: #000;
    --cs-white: #fff;
    --cs-gray: #6c757d;
    --cs-gray-dark: #343a40;
    --cs-gray-100: #f8f9fa;
    --cs-gray-200: #e9ecef;
    --cs-gray-300: #dee2e6;
    --cs-gray-400: #ced4da;
    --cs-gray-500: #adb5bd;
    --cs-gray-600: #6c757d;
    --cs-gray-700: #495057;
    --cs-gray-800: #343a40;
    --cs-gray-900: #212529;
    --cs-primary: #0d6efd;
    --cs-secondary: #6c757d;
    --cs-success: #198754;
    --cs-info: #0dcaf0;
    --cs-warning: #ffc107;
    --cs-danger: #dc3545;
    --cs-light: #f8f9fa;
    --cs-dark: #212529;
    --cs-body-bg: #fff;
    --cs-border-color: #dee2e6;
    --cs-link-color: #0d6efd;
    --cs-link-hover-color: #0a58ca;
    --cs-code-color: #d63384;
    --cs-highlight-bg: #fff3cd;
}

body {
    background: var(--cs-gray-300);
}

/*
Navigation styles
*/
.navigation-section{
    background: var(--cs-yellow-green);
    padding: 5px 0;
}
.navbar-brand {
    font-family: 'Major Mono Display', monospace;
}
.nav-link{
    color: var(--cs-gray-800);
    &.active{
        color: var(--cs-green) !important;
    }
}

/*
main content styles
*/
.content-section{
    min-height: 500px;
}

/*
Footer styles
*/
.footer-section{
    background: var(--cs-highlight-bg);
}
.footer-section > .card{
    border-radius: 0 !important;
}
