:root {
    /* Global Colors */
    --cs-dark-primary: #283593;
    --cs-light-blue: #1565c0;
    --cs-sky-light: #E3F2FD;
    --cs-sky-dark: #90CAF9;
    --cs-purple: #6f42c1;
    --cs-light: #f8f9fa;
    --cs-warning: #ffb525;
}

/*
Common styles
*/
.bg-none {
    background: none !important;
}

.list-group > .list-group-item {
    background: none !important;
}

.cs-mt-30 {
    margin-top: 30px;
}

.cs-pb-30 {
    padding-bottom: 30px;
}
.text-cs-warning{
    color: var(--cs-warning) !important;
}

@media only screen and (max-width: 575px) {
    .cs-mt-30 {
        margin-top: 15px;
    }

    .cs-pb-30 {
        padding-bottom: 15px;
    }
}

/*
Navigation styles
*/
.navigation-section {
    background: var(--cs-dark-primary);
    padding: 5px 0;
}

.navbar-brand {
    font-family: 'Major Mono Display', monospace;
}

.nav-link {
    color: var(--cs-light);
    &.active {
        color: var(--cs-purple) !important;
    }
}

/*
Main content styles
*/
.content-section {
    min-height: 810px;
    background: linear-gradient(180deg, var(--cs-light-blue), var(--cs-light))
}

.card {
    &.bg-linearGradient {
        background: linear-gradient(45deg, var(--cs-sky-light), var(--cs-sky-dark));
        box-shadow: inset 0 0 15px var(--cs-sky-dark);
    }
}

/*
Footer styles
*/
.footer-section {
}

.footer-section > .card {
    background: var(--cs-light-blue);
    border-radius: 0 !important;
}

/* Closed folder icon */
.folder-closed::before {
    content: "\f07c"; /* Unicode for a folder icon */
    font-family: FontAwesome, serif; /* Use an icon font like FontAwesome */
    margin-right: 5px; /* Adjust spacing */
}

/* Open folder icon */
.folder-open::before {
    content: "\f07b"; /* Unicode for an open folder icon */
    font-family: FontAwesome, serif;
    margin-right: 5px;
}
